h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
}

hr {
	border: 0.25px solid rgba(69, 95, 104, 0.297);
	margin-bottom: 14px;
}

ul {
	padding: 0px;
	margin: 0px;
}

ul > li {
	list-style-type: none;
}

.content {
	padding-bottom: 28px;
}
