.role {
	padding-top: 7px;
	padding-bottom: 14px;

	.role-header {
		display: flex;

		h4 {
			margin: 0px;
			padding: 0px;
			font-weight: 400;
		}

		p {
			font-size: 0.8em;
			padding-left: 5px;
		}
	}
}
